<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://kit.fontawesome.com/1366794178.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="shortcut icon"
            href="https://http2.mlstatic.com/frontend-assets/ui-navigation/5.18.9/mercadolibre/favicon.svg"
            type="image/x-icon">
        <title>Mercado Liebre</title>
    </head>

    <body>
        <header class="main-header">
            <div class="main-header-top">
                <a href="/" class="logo">
                    <img src="/images/logo-mercado-liebre.svg" alt="logo-mercadoliebre">
                </a>
                <form action="/" method="get" class="search">
                    <input type="text" id="search-bar" name="search" placeholder="Buscar Productos, marcas y más">
                    <button type="submit" class="nav-search-btn">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
                <h2 class="text-header">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </h2>
            </div>
            <a href="#" class="hamburger-menu">
                <i class="fas fa-bars"></i>
            </a>
            <nav class="main-nav-bar">
                <ul>
                    <li>
                        <a href="#">Ofertas</a>
                    </li>
                    <li>
                        <a href="#">Tiendas Oficiales</a>
                    </li>
                    <li>
                        <a href="#">Vender</a>
                    </li>
                    <li>
                        <a href="#">Ayuda</a>
                    </li>
                </ul>
                <ul>
                    <li><i class="fa-regular fa-id-card"></i>
                        <a href="/register">Creá tu cuenta </a>
                    </li>
                    <li> <i class="fa-solid fa-right-to-bracket"></i>
                        <a href="/login">Ingresa</a>
                    </li>
                    <li> <i class="fa-solid fa-basket-shopping"></i>
                        <a href="">Mis compras</a>
                    </li>
                </ul>
            </nav>
        </header>
        <section class="banner-container">
            <img class="home-banner" src="/images/img-home-banner.jpg" alt="home-banner">
        </section>
        <main class="main-container">
           
            <h2 class="headlines">Basado en tu última visita</h2>
            <section class="section-articles">
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" class="img-product">
                    <div class="text-article">
                        <i class="fa-solid fa-truck"></i>
                        <p class="price">$60.770</p>
                        <p class="discount">40% OFF</p>
                        <p class="description-product">Cafetera Moulinex</p>
                    </div>
                </article>
                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro" class="img-product" />
                    <i class="fa-solid fa-truck"></i>
                    <div class="text-article">
                        <p class="price">$230.000</p>
                        <p class="discount">20% OFF</p>
                        <p class="description-product">MacBook Pro 2019</p>
                    </div>
                </article>

                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy" class="img-product">
                    <i class="fa-solid fa-truck"></i>
                    <div class="text-article">
                        <p class="price">$70.500</p>
                        <p class="discount">10% OFF</p>
                        <p class="description-product">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="img-smarttv-samsung" class="img-product">
                    <i class="fa-solid fa-truck"></i>
                    <div class="text-article">
                        <p class="price">$23.200</p>
                        <p class="discount">5% OFF</p>
                        <p class="description-product">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </section>
            <h2 class="headlines">Ofertas</h2>
            <section class="section-articles">
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" class="img-product">
                    <i class="fa-solid fa-truck"></i>
                    <div class="text-article">
                        <p class="price">$6.770</p>
                        <p class="discount">40% OFF</p>
                        <h4 class="description-product">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro" class="img-product">
                    <i class="fa-solid fa-truck"></i>
                    <div class="text-article">
                        <p class="price">$230.000</p>
                        <p class="discount">20% OFF</p>
                        <h4 class="description-product">MacBook Pro 2019</h4>
                    </div>
                </article>

                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy" class="img-product">
                    <i class="fa-solid fa-truck"></i>
                    <div class="text-article">
                        <p class="price">$70.500</p>
                        <p class="discount">10% OFF</p>
                        <h4 class="description-product">Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="img-smarttv-samsung" class="img-product">
                    <i class="fa-solid fa-truck"></i>
                    <div class="text-article">
                        <p class="price">$23.200</p>
                        <p class="discount">5% OFF</p>
                        <h4 class="description-product">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </section>

        </main>
        <footer>
            <div class="sections-footer">
                <i class="fa-solid fa-credit-card icons-footer"></i>
                <p class="description">Pagá con tarjeta o en efectivo</p>
                <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. Y siempre es
                    seguro!</p>
            </div>
            <div class="sections-footer">
                <i class="fa-solid fa-gift icons-footer"></i>
                <p class="description">Envio gratis desde los $2.500</p>
                <p>Solo por estar registrado en MercadoLiebre tenes envios gratis en miles de productos.Es un beneficio
                    mas
                    de Mercado Puntos.</p>
            </div>
            <div class="sections-footer">
                <i class="fa-solid fa-user-shield icons-footer"></i>
                <p class="description">Seguridad de principio a fin</p>
                <p>¿No te gusta? Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estas siempre
                    protegid@.
                </p>
            </div>
            <p class="copyright">Copyright &copy; 1999 - 2022 MercadoLiebre S.R.L</p>
        </footer>
    </body>

</html>