<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="/css/style.css">
        <script src="https://kit.fontawesome.com/1366794178.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="shortcut icon"
            href="https://http2.mlstatic.com/frontend-assets/ui-navigation/5.18.9/mercadolibre/favicon.svg"
            type="image/x-icon">
    <title>Login-MercadoLiebre</title>
</head>
<body>
            <header class="main-header">
            <div class="main-header-top">
                <a href="#" class="logo">
                    <img src="/images/logo-mercado-liebre.svg" alt="logo-mercadoliebre">
                </a>
                <form action="" method="" class="search">
                    <input type="text" id="search-bar" placeholder="Buscar Productos, marcas y más">
                    <button type="submit" class="nav-search-btn">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
                <h2 class="text-header">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </h2>
            </div>
            <a href="#" class="hamburger-menu">
                <i class="fas fa-bars"></i>
            </a>
            <nav class="main-nav-bar">
                <ul>
                    <li>
                        <a href="#">Ofertas</a>
                    </li>
                    <li>
                        <a href="#">Tiendas Oficiales</a>
                    </li>
                    <li>
                        <a href="#">Vender</a>
                    </li>
                    <li>
                        <a href="#">Ayuda</a>
                    </li>
                </ul>
                <ul>
                    <li><i class="fa-regular fa-id-card"></i>
                        <a href="/register">Creá tu cuenta </a>
                    </li>
                    <li> <i class="fa-solid fa-right-to-bracket"></i>
                        <a href="/login">Ingresa</a>
                    </li>
                    <li> <i class="fa-solid fa-basket-shopping"></i>
                        <a href="">Mis compras</a>
                    </li>
                </ul>
            </nav>
        </header>
        <form action="" method="post" class="create-form">
             <div class="control-formulario">
                <!-- <label for="username">Nombre de usuari@</label> -->
                <input type="text" name="username" placeholder="Nombre de usuario" class="control">
            </div>
            <div class="control-formulario">
                <!-- <label for="username">Nombre de usuari@</label> -->
                <input type="password" name="password" placeholder="Contraseña" class="control">
            </div>
              <div class="control-formulario form-btn">
                <button type="submit" class="btn-login">Enviar</button>
            </div>
        </form>
    
</body>
</html>