<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://kit.fontawesome.com/1366794178.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="shortcut icon"
            href="https://http2.mlstatic.com/frontend-assets/ui-navigation/5.18.9/mercadolibre/favicon.svg"
            type="image/x-icon">
        <title>Login-MercadoLiebre</title>
    </head>

    <body>
            <header class="main-header login">
            <div class="main-header-top">
                <a href="/" class="logo">
                    <img src="/images/logo-mercado-liebre.svg" alt="logo-mercadoliebre">
                </a>
                <form action="/" method="get" class="search">
                    <input type="text" id="search-bar" name="search" placeholder="Buscar Productos, marcas y más">
                    <button type="submit" class="nav-search-btn">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
                <h2 class="text-header">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </h2>
            </div>
            <a href="#" class="hamburger-menu">
                <i class="fas fa-bars"></i>
            </a>
            <nav class="main-nav-bar">
                <ul>
                    <li>
                        <a href="#">Ofertas</a>
                    </li>
                    <li>
                        <a href="#">Tiendas Oficiales</a>
                    </li>
                    <li>
                        <a href="#">Vender</a>
                    </li>
                    <li>
                        <a href="#">Ayuda</a>
                    </li>
                </ul>
                <ul>
                    <li><i class="fa-regular fa-id-card"></i>
                        <a href="/register">Creá tu cuenta </a>
                    </li>
                    <li> <i class="fa-solid fa-right-to-bracket"></i>
                        <a href="/login">Ingresa</a>
                    </li>
                    <li> <i class="fa-solid fa-basket-shopping"></i>
                        <a href="">Mis compras</a>
                    </li>
                </ul>
            </nav>

            </header>
        <main class="main-container">
            <h3 class="register">Ingresa a tu cuenta para operar</h3>
            <form action="/" method="get" class="create-form">
                <div class="control-formulario">
                    <input type="text" name="username" placeholder="Nombre de usuario" class="control" required>
                </div>
                <div class="control-formulario">
                    <input type="password" name="password" placeholder="Contraseña" class="control" required>
                </div>
                <div class="control-formulario form-btn">
                    <button type="submit" class="btn-login">Enviar</button>
                </div>
            </form>
        </main>
            <footer class="login">
                <div class="sections-footer">
                <i class="fa-solid fa-credit-card icons-footer"></i>
                <p class="description">Pagá con tarjeta o en efectivo</p>
                <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. Y siempre es
                    seguro!</p>
            </div>
            <div class="sections-footer">
                <i class="fa-solid fa-gift icons-footer"></i>
                <p class="description">Envio gratis desde los $2.500</p>
                <p>Solo por estar registrado en MercadoLiebre tenes envios gratis en miles de productos.Es un beneficio
                    mas
                    de Mercado Puntos.</p>
            </div>
            <div class="sections-footer">
                <i class="fa-solid fa-user-shield icons-footer"></i>
                <p class="description">Seguridad de principio a fin</p>
                <p>¿No te gusta? Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estas siempre
                    protegid@.
                </p>
            </div>
                <p class="copyright">Copyright &copy; 1999 - 2022 MercadoLiebre S.R.L</p>
            </footer>
    </body>

</html>